.navbar-brand{
	font-family: cursive;
	font-weight: bold;
}

.navbar{
	background-color: white !important;
}

*{
	font-family: cursive;
}

#ma{
	font-size: 28px;
}

#a{
	font-family: cursive;
	font-size: 22px;
}

.navbar .navbar-nav li a{
	font-family:cursive;
	color:white !important;

	
}

.navbar .navbar-nav li a:hover{
	font-family:cursive;
	color:#b91d28 !important;
	
	
}

.jumbotron{
	   background-image: url(as.gif);
	   color: white;
	   height: 300px;
}

#c p{
	font-size:18px;
	font-family:cursive;
	padding: 3px;
}


#asd{
	color: white;
	background-color: #b91d28;
	border:none;
	font-size: 18px;
}